<a href="https://colab.research.google.com/github/omkarmohite123/Companies_Problem-solving-using-Python/blob/main/Company15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Given a string as input, you have to reverse the string by keeping the punctuation and spaces intact. You have to modify the source
string itself without creating another string.

Input Description:
1<=string length<=500

Output Description:
Print the string in reverse

Sample Input :
A man, in the boat says : I see 1-2-3 in the sky
Sample Output :
y kse, ht ni3 21ee sIsy : a sta o-b-e ht nin amA


"""

In [7]:
x=input()
y=list(x)
z=[]
l=[]
for i in y:
    if i.isalnum():
        l.append(i)
    else:
        z.append(i)
f=l[::-1]
kk=[]
for i in y:
    if i.isalnum():
        d=f.pop(0)
        kk.append(d)
    else:
        kk.append(i)
else:
    print("".join(kk))

A man, in the boat says : I see 1-2-3 in the sky
y kse, ht ni3 21ee sIsy : a sta o-b-e ht nin amA